<div class="container">
  <div class="carousel">
    <button (click)=" prevClick()" class="carousel__button carousel__button--left">
      <h1>
        < </h1>
    </button>
    <div class="carousel__track-container">
      <ul class="carousel__track">
        <li class="carousel__slide">
          <img class="carousel__card" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/231648/MB_CLA_5.jpg">
        </li>
        <li class="carousel__slide current-slide">
          <img class="carousel__card" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/231648/MB_CLA_6.jpg">
        </li>
        <li class="carousel__slide">
          <img class="carousel__card" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/231648/MB_CLA_4.jpg">
        </li>
      </ul>
    </div>
    <button (click)="nextClick()" class="carousel__button carousel__button--right">
      <h1>
        >
      </h1>
    </button>
  </div>
</div>